/* color-mix(in srgb, var(--background-primary), #000 10%) */

body {
    --figure-background: var(--background-secondary);
    --img-border: 2px dashed rgb(from var(--background-modifier-border) r g b / 1.0);
    --img-radius: var(--radius-m);
}

.image-embed {
    img {
        border: var(--img-border);
        border-radius: var(--img-radius);
    }

    figure {
        border-top-left-radius: var(--img-radius);
        border-top-right-radius: var(--img-radius);

        img {
            border: none;
            border-radius: 0px;
            border-top-left-radius: var(--img-radius);
            border-top-right-radius: var(--img-radius);
        }

        &.image-captions-figure {
            background: var(--figure-background) !important;
            padding: 0;
            margin: 0;
            border: var(--img-border);
        
            figcaption.image-captions-caption {
                background: var(--figure-background) !important;
                color: rgb(from var(--text-muted) r g b / 1.0) !important;
                border: var(--img-border);
                border-top: none;
                padding: var(--size-4-2) var(--size-4-2);
                border-bottom-left-radius: var(--img-radius);
                border-bottom-right-radius: var(--img-radius);
            }
        }
    }
}

.external-link:has(figure) {
    text-decoration: none !important;
    background-image: none;

    figure.image-captions-figure {
        &:hover { 
            border-color: var(--link-external-color);

            figcaption.image-captions-caption {
                    border-color: var(--link-external-color);
            }
        }
    }
    
    figcaption.image-captions-caption {
        color: inherit !important;
    }
}

.external-link:has(img) {
    background-image: none;
    
    &:hover {
        img {
            border-color: var(--link-external-color);
        }
    }
}