.nav-files-container {
    .tree-item {
        &.nav-folder {
            background: grey !important;

            .tree-item-icon {}
            .tree-item-inner {
                color: red !important;
            }
        }

        &.nav-file {
            background: darkgrey !important;

            .tree-item-icon {}
            .tree-item-inner {
                color: red !important;
            }
        }
    }
}
