.markdown-preview-sizer,
.cm-sizer {
    --custom-readable-width: 80%;

    max-width: var(--custom-readable-width) !important;
    width: var(--custom-readable-width) !important;
}

.cm-contentContainer,
.cm-content,
.cm-line {
    max-width: 100% !important;
    width: 100% !important;
}

/* .cm-line {
    padding-left: 20px !important;
} */

.cm-gutters {
    margin-inline-end: var(--size-4-6) !important;
    background: var(--background-primary-alt) !important;
}

/* .cm-gutter {
    padding-inline-end: var(--size-2-2) !important;
} */

.cm-gutterElement {
    padding-inline-end: var(--size-2-3) !important;
}

.cm-active {
    background: var(--background-modifier-active-hover);
}

/* .HyperMD-list-line,
.HyperMD-quote,
.HyperMD-callout,
.cm-line {
    text-indent: 0 !important;
} */

.markdown-reading-view {
    p {
        text-align: justify;
    }
}

@media screen and (max-width: 767px) {
    .markdown-preview-sizer, .cm-sizer {
        --custom-readable-width: 100%;
    }
}
