.markdown-preview-view, .markdown-source-view {
    em,
    .cm-em {
        color: var(--color-green);
    }
    
    strong,
    .cm-strong {
        color: var(--color-red);
    }
    
    strong em,
    em strong,
    .cm-strong.cm-em,
    .cm-em.cm-strong {
        color: var(--color-orange);
    }
    
    del,
    .cm-strikethrough {
        filter: saturate(0.5) opacity(0.5);
    }
}
